
body {
  position: relative !important; /* Overrides the fixed positioning of body in Ratchet */
  font-size: 14px;
  line-height: 1.6em;
  color: #777;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.prettyprint {
  overflow: auto;
}

.outer-wrapper {
  position: relative;
  z-index: 2;
}

.inner-wrapper {
  width: 960px;
  margin: 0 auto;
  line-height: 40px;
}

ul.actions li a { color: #33B5E5; }
ul.actions li a:active { color: #0099cc; }


.docs-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  height: 48px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.docs-header .inner-wrapper {
  height: 48px;
}

.logo {
  margin-top: 8px;
}

.title a {
  color: #fff;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.docs-header ul {
  line-height: 48px;
  float: right;
  list-style: none;
}
ul#main-nav > li {
  display: inline-block;
  margin-left: 40px;
}

.docs-header .title {
  font-weight: bold;
}

.docs-header-text {
  width: 480px;
  padding-top: 200px;
}

.nav-item {
  position: relative;
}

ul.nav-components {
  position: absolute;
  display: none;
  top: 48px;
  left: -6px;
  z-index: -1;
  padding: 0;
  line-height: 1.1;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

ul.nav-components.active {
  display: block;
}

ul.nav-components li {
  margin: 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
ul.nav-components li:hover {
  background: #33b5e5;
}
ul.nav-components li:hover a {
  color: #fff;
}
ul.nav-components li a {
  float: left;
  display: block;
  padding: 17px 15px 16px;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.toggle-nav:after {
  content: '';
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  top: 35px;
  right: -15px;
  margin-left: -4px;
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-top: 8px solid #777;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
          transform: rotate(180deg);
}

.docs-jumbo {
  height: 500px;
  padding-bottom: 40px;
}

.docs-header-subtitle {
  font-size: 36px;
  font-weight: 200;
  padding-bottom: 40px;
  letter-spacing: -1px;
}

.social {
  margin-top: 40px;
  padding: 40px 0 20px;

}

.social ul {
  height: 20px;
  list-style: none;
  padding-bottom: 20px;
}

.social ul li {
  display: inline-block;
  height: 20px;
  padding: 0;
  vertical-align: top;
}

.docs {
  width: 540px;
  /*padding: 150px 0 150px;*/
}

.docs .section-header {
  padding-bottom: 20px;
  color: #333;
}

.docs .section-description {
  font-size: 24px;
  font-weight: 200;
  color: #777;
}

.docs ol {
  font-size: 18px;
  font-weight: bold;
}
.docs ol li {
  margin: 0 0 20px 36px;
}

.docs ol li h3 {
  font-size: 18px;
  line-height: 1.5em;
}
.docs p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  padding-bottom: 10px;
}

.component {
  padding: 140px 0;
}

.component h3.component-title {
  font-weight: normal;
  margin: 0 0 10px;
}
.component p.component-description {
  
}

.component .prettyprint {
  margin: 20px 0;
  padding: 10px;
  line-height: 1.6em;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fefefe;
}

/* Overiding our framework button styles so our social buttons aren't messed up */
.twitter-follow-button,
.twitter-follow-button:hover,
.twitter-follow-button:active,
.twitter-share-button,
.twitter-share-button:hover,
.twitter-share-button:active {
  padding: 0 !important;
  border: none;
  border-radius: 0;
  background: none !important;
  box-shadow: none !important;
}


.galaxy {
  position: relative;
  top: 20px;
  left: 40px;
  background: url('../images/galaxy-vert-scaled.png');
  height: 744px;
  width: 379px;
  z-index: 4;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.galaxy-content {
  position: absolute;
  top: 94px;
  left: 29px;
  width: 320px;
  height: 526px;
  overflow: hidden;
}

.galaxy [class*="action-bar"],
.galaxy [class*="tab-"],
.galaxy .content {
  position: absolute;
} {
  position: absolute;

}

.galaxy-fixed {
  position: fixed;
}

.galaxy-fixed {
  left: 50%;
  margin-left: 125px;
}



/* Offset the position of each section for anchor scrolling
 */
#introduction {
  padding: 250px 0 200px;
}

#getting-started {
  padding: 90px 0 300px;
}

#components {
  padding: 300px 0 0;
}
#components .section-header {
  padding-bottom: 300px;
}
#credits {
  padding: 0 0 260px;
}
#credits p {
  padding-bottom: 20px;
}
#thanks {
  padding: 0;
  position: absolute;
  visibility: hidden;
}
#iscroll {
  padding: 40px 0 0;
}
#page-setup {
  padding: 130px 0 200px;
}

.splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 160px 40px;
  background: #222;
}

.splash h1 {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1.2em;
}
.splash p {
  color: #ccc;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.3em;
}

/* Media queries
 */

@media only screen and (max-width: 1024px) {
  .inner-wrapper  {
    width: 740px;
  }

  .docs-header-text {
    width: 320px;
    padding-top: 160px;
  }

  [class*="button"] + [class*="button"] {
    display: block;
    margin-left: 0;
  }

  .docs,
  .component {
    width: 320px;
  }

  .galaxy {
    right: 20px;
    left: initial;
  }
  .galaxy-fixed {
    margin-left: 85px;
  }

  .social {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  
  .inner-wrapper {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .docs-jumbo {
    padding-bottom: 150px;
  }

  .docs-header .title {
    display: block;
    width: 100%;
    text-align: center;
  }

  #main-nav {
    display: none;
  }

  .docs-jumbo {
    border-bottom: 1px solid #ccc;
  }

  .social {
    margin-top: 0;
    height: initial;
  }

  .social ul li{
    display: block;
    height: 20px;
    padding: 0;
    vertical-align: top;
    float: left;
    margin-bottom: 20px;
  }

  /* Replace all hacky padding that we added */
  #introduction,
  #getting-started,
  #components,
  #credits,
  #thanks,
  #using-iscroll,
  #page-setup {
    padding: 20px 0 60px;
    border-bottom: 1px solid #e2e2e2;
  }

  #components .section-header {
    padding-bottom: 0;
  }

  #credits {
    padding-bottom: 100px;
  }

  .docs,
  .docs-header-text {
    width: auto;
    padding: 0;
  }

  .docs {
    margin-top: 40px;
  }

  .docs-header-text {
    text-align: center;
    padding-top: 120px;
  }

  .docs-header-text a {
    float: none;
    display: block;
  }

  .component {
    width: auto;
    padding: 0 0 20px;
  }

  .galaxy-fixed {
    display: none;
  }
}