body {
  /*position: relative !important;*/
  font-size: 16px;
  line-height: 1.67em;
  color: #777;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

em {
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.prettyprint {
  overflow: auto;
}
pre.prettyprint {
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 30px;
  border: 1px solid #FFF;
  font-size: 14px;
  background: #F7F7F7;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

code {
  background: #F7F7F7;
  font-size: 14px;
  border: 1px solid #DDD;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  padding: 2px 5px;
}

.docs-header {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.docs-header > .app-icon .title {
  line-height: 32px;
  padding-right: 4px;
}

.docs-header .tab-fixed {
  position: absolute;
  width: 540px;
  left: 90px;
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.docs-header .spinner {
  top: 48px;
}

.docs-header .tab-fixed .tab-inner li a {
  color: #999;
}
.docs-header .tab-fixed .tab-inner li.active a {
  color: #fff;
}

.docs-sidebar {
  position: absolute;
  top: 48px;
  bottom: 48px;
  left: 0;
  background: #111;
  width: 320px;
}

.docs-content {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 540px 0 80px;
  width: 100%;
  overflow: auto;
}

.docs-content.inner-content {
  left: 320px !important;
  width: auto;
  padding: 0 80px 80px 80px;
}

.docs-footer {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.docs-footer ul {
  list-style: none;
  padding: 12px 0;
  width: 560px;
  margin: 0 auto;
}

.docs-footer ul li {
  display: inline-block;
}

.masthead {
  padding: 168px 0 0 0 !important;
}

.masthead h1 {
  color: #333;
  font-size: 60px;
  font-weight: 200;
  line-height: 1.67em;
  letter-spacing: -1px;
}

.masthead p.subtitle {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.3em;
  padding: 2px;
  color: #999;
}

.content-section {
  padding-top: 80px;
}

.content-section .section-header {
  padding-bottom: 24px;
}

.content-section .section-title {
  line-height: 1.67em;
  color: #333;
}

.content-section .section-description {
  font-size: 24px;
  font-weight: 200;
}

.content-section ol.docs {
  font-size: 18px;
  font-weight: bold;
  padding-left: 30px;
}

.content-section ol.docs li {
  padding: 0 0 20px; 36px;
  font-weight: normal;
}

.content-section ol.docs li h3 {
  font-size: 18px;
}

.content-section ol.docs li p {
  font-size: 16px;
  padding: 12px 0;
}

.content-section > p {
  padding-bottom: 20px;
}

h3.component-title {
  font-weight: normal;
  padding: 40px 0 20px;
}
p.component-description {
  left: 320px;
  padding-bottom: 20px;
}

.component {
  padding-bottom: 100px;
}

.component h4 {
  padding: 20px 0 8px;
}

.component .component-title {
  border-bottom: 2px solid rgb(153, 153, 153);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 40px 0 4px 4px;
  margin-bottom: 40px;
}

.component-example {
  padding-bottom: 30px;
}

.component-example .action-bar,
.component-example .tab-fixed {
  position: relative;
  z-index: 1;
}

.downloads {
  padding: 48px 0;
}

.downloads ul {
  padding-top: 56px;
  list-style: none;
}

.downloads ul li {
  display: inline-block;
}

#nexus {
  position: fixed;
  z-index: 999;
  right: 40px;
  bottom: -80px;
  width: 477px;
  height: 837px;
}

.nexus-overlay {
  background: url('../images/nexus4-vert.png') no-repeat;
  width: 100%;
  height: 100%;
}

.nexus-content {
  position: absolute;
  top: 119px;
  left: 46px;
  right: 47px;
  bottom: 153px;
  background: #111;
}

.nexus-content iframe {
  width: 100%;
  height: 100%;
}

.black-bg {
  background: #111;
}

.dialogs {
  position: fixed !important;
}

.dialog {
  max-width: 380px;
}

.non-webkit-notice {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  background: rgba(255, 170, 170, 0.7);
  padding: 12px 540px 12px 80px;
  z-index: 10;
  -webkit-transition: opacity 0.2s ease-out;
     -moz-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}

.non-webkit-notice.inner {
  left: 320px;
  padding: 12px 80px;
}

.non-webkit-notice p {
  font-size: 14px;
}

.fade {
  cursor: default;
  opacity: 0;
}

.view-demo {
  display: none;
}

.action-overflow-docs {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.action-overflow-docs .spinner {
  right: 10px;
}

@media (min-width: 769px) {
  .docs-header .actions {
    display: none;
  }
}

@media only screen and (max-width: 1136px) {
  .docs-content {
    padding-right: 80px;
  }

  .view-demo {
    display: initial;
  }

  #nexus {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
}

@media (max-width: 768px) {
  .docs-header .tab-fixed {
    display: none;
  }

  .docs-content {
    padding: 40px !important;
  }
  .docs-content.inner-content {
    left: 0 !important;
  }

  .masthead {
    padding-top: 40px !important;
    text-align: center;
  }

  .component {
    padding-bottom: 40px;
  }

  .docs-sidebar {
    display: none;
  }
}

@media (max-width: 670px) {
  .btn {
    text-align: center;
    margin-left: 0 !important;
    display: block;
    height: 36px;
    line-height: 20px;
  }

  .content-section {
    padding-top: 40px;
  }

  .docs-footer {
    display: none;
  }
}

@media (max-width: 480px) {
  .masthead h1 {
    font-size: 48px;
  }
  .masthead p.subtitle {
    font-size: 18px;
  }

}
